
*{
  margin: 0px;
}

body{
  background-color: rgb(97, 26, 164);
}
nav {
  background-color:whitesmoke;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #e5e7eb;
  position: relative;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
ul{
  display: flex;
  list-style-type: none;
  position: relative;

  gap: 40px;
  cursor: pointer;
  
}
li{
  transition: color 0s ease-in-out 0s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
  ul,li:hover{
  background-color: beige;
  color: chocolate;
         
}
#log{
  position: relative;
  display: flex;
  left: 29%;
  font-family: cursive;
  letter-spacing: 5px;
top: -466px;
transition: 0s ease-in-out 0s;
}
#log:hover{
  color: orange;
  text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.15),
    0 0 8px rgba(0, 0, 0, 0.05);
}
.container{
  background-color: whitesmoke;
  border: 2px solid black;
  position: relative;
  height: 510px;
  width: 880px;
  margin: 100px;
 border-radius: 40px;
  left: -100px;
   cursor: pointer;
   box-shadow: 
    inset 0 2px 4px rgba(0,0,0,0.06),
    inset 0 -2px 4px rgba(255,255,255,0.5);
   
    
}
.login{
  position: relative;
  display: flex;
  left: 30%;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#img{
  height: 510px;
  position: relative;
  width: 500px;
  overflow: hidden;
}
#heading{
  position: relative;
  display: flex;
  top: -350px;
  left:60px;
  color: white;
  letter-spacing: 5px;
  transition:0s ease-in-out 2s;
  cursor: pointer;

}
#heading:hover{
color: red;
  
}
#para{
  position: relative;
  display: flex;
  top: -340px;
  left:60px;
  color: white;
}
input[type="text"]{
 
 position: relative;
  display: flex;
  top: -50vh;
  left: 60%;
 
  border-bottom: 1px solid whitesmoke;
  font-weight: bolder;
  height: 30px;
  font-variant: normal;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: none;
   border: 1px solid black;
  border-radius: 10px;
   
}


input[type="text2"]{
  position: relative;
  display: flex;
  top: -48vh;
  left: 60%;
 height: 30px;
  border-bottom: 1px solid whitesmoke;
  font-weight: bolder;
 
  font-variant: normal;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: none;
   border: 1px solid black;
  border-radius: 10px;
}
/* #user{
  height: 50px;
  width: 50px;
  font-size: 20px;
  top: -493px;
  position: absolute;
  color: brown;
  left: 60%;
  overflow: hidden;

} */
#my-check{
  position: relative;
  display: flex;
   top: -400px;
   left: 60%;
   cursor: pointer;
   color: black;
   background-color: none;
   width: 20px;


}
#test{
  position: relative;
  display: flex;
  top: -420px;
  color: brown;
  font-weight: bolder;
  left: 62%;
}
#pas{
  display: flex;
  top: -439px;
  position: relative;
  left: 79%;
  
}
input[type='submit']{
   display: flex;
  top: -400px;
  position: relative;
  left: 69%;
  height: 44px;
  width: 128px;
  justify-content: center;
  text-align: center;
   background-color: #007bff;
   color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  transition: 0s ease-in-out 0s;
  transition: background 0.3s ease-in-out;
  border-radius: 10px;
  
}
input[type='submit']:hover{
background-color: #0056b3;
color: burlywood;
}
.black-part{
  top: -400px;
  position: relative;
  left: 60%;
  font-weight: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

}
.red-part{
  top: -400px;
  position: relative;
  left: 60%;
  font-weight: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #0056b3;
}


#paragraph1{
  position: relative;
  display: flex;
  left: 60%;
  color: red;
    top: -420px;
}